body {
  font-family: Lato, sans-serif;
}

.jumbotron {
  background-color: #faf9fb;
}

h1 {
  font-size: 40px;
}

h2 {
  font-size: 30px;
}

h3 {
  text-align: center;
}

.socials {
  font-size: 30px;
  padding-left: 0px;
}

.socials a:link {
  color: gray;
}

.socials a:hover {
  color: black;
  text-decoration: none;
}

a:visited {
  color: gray;
}

#me {
  width: 80%;
  height: 80%;
  margin: auto;
  display: inline-block;
}

.row{
    padding: 10px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.col-sm-3 {
    padding: 0px;
    text-align: center;
}

img{
    padding: 10px;
}

#cornellseal, #bhs, #baja, #coe, #hyperloop{
    width: 120px;
    height: auto;
}

#cornellseal-resume{
    width: 120px;
    height: 120px;
}

.col-sm-7{
    text-align: left;
}

.col-sm-2{
    text-align: left;
    padding-top: 7px;
}

h4{
    font-size: 20px;
}

h5{
    font-size: 16px;
}

#EXPERIENCE {
  background-color: #faf9fb;
}

#skills {
  text-align: center;
  background-color: #faf9fb;
}

.footer {
  text-align: right;
  padding-bottom: 12px;
  padding-right: 15px;
  background-color: #faf9fb;
}
